*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav{
    height: 80px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(68,133,208);
} 

nav img{
    
    width: 150px;
    position: absolute;
    top: 17px;
    left: 5%;
}

nav ul{
    float: right; 
    margin-right: 90px;
}

nav li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav li a{
    position: relative;
    color: black;
    font-size: 18px;
}

.booking-login{
    text-align: center;
    font-family: normal, Sans-serif;
    font-size: 60px;
    font-weight: 550;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backgroundpic{
    object-fit: cover;
}

.loginbackground{
    width: 55%;
    height: 40%;
    position: absolute;
    background-color: rgba(118, 118, 118, 0.8);
    border-radius: 5px;
}

.login{
    width: 80px;
    margin-top: 100px;
    margin-left: 80px;
    
}

.login-as{
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
    
}

.dropdown{
    width: 300px;
    height: 50px;
}

.icon{
    font-size: 45px;
    left: 330px;
    top: 125px;
    position: absolute;
    border: solid;
    color: rgb(87,121,255);
}

.select{
    width: 300px;
    height: 50px;
    border: none;
    appearance: none;
    padding: 0 15px 0 15px;
    color: black;
    background-color: white;
    font-size: 17px;
    outline: 2px solid rgb(165,183,255);
    
}

.select option{
    background-color: blue;
    color: black;
    opacity: 0.7;
}

.input{
    margin-left: 750px;
    margin-top: -70px;
    
}

.user{
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
}

.userin{
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    outline: 2px solid rgb(87,121,255);
}

.pass{
    color: white;
    height: 25px;
    margin-bottom: 5px;
    width: 200px;
}

.passin{
    width: 300px;
    height: 50px;
    outline: 2px solid rgb(87,121,255);
}

.button{
    margin-left: 945px;
    margin-top: 20px;
    width: 55px;
}